<div>
 <img src="https://cdn.discordapp.com/attachments/885400287848824882/982902115934547968/brein.png" alt="engenementor" width="120" height="42" style="outline:none;text-decoration:none;border:0" class="image">
<br>
 <p style="margin:20px 0">Thanks for signing up with Engene Mentor! You must follow this link within 30 days of registration to activate your account:</p>
<br>
<b>VERIFICATION LINK</b>
<br>
 <p style="margin:20px 0">Have fun, and don't hesitate to contact us with your feedback.</p>
<br>
 <p style="margin:20px 0">
  Cheers ,<br>
  The Engene Mentor Team<br>
  <a href="https://engenementor.net" style="color:#008cff" target="_blank" data-saferedirecturl="https:engenementor.in">https://engenementor.in</a>
</p>