{% extends "base.html" %} {% block title %}User{% endblock %} {% block content
  %}
  <h1 align="center">Teacher's Notes</h1>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
      {{ note.data }}
      <button type="button" class="btn btn-primary", align="right", onClick="toggleNote(true, {{ note.id }})">Private</button>
      <button type="button" class="btn btn-primary", align="right", onClick="toggleNote(false, {{ note.id }})">Public</button>
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
  <form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>
  {% endblock %}